.Back {
  color: var(--color-brand);
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(1.5);
  width: 22px;
  height: 22px;
}
.Back::after,
.Back::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
}
.Back::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 7px;
}
.Back::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor;
}
